<div class="fa-header fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <app-logo></app-logo>
            </div>
            <div class="col-7 text-right fa-secondnav">
                <div class="fa-secondnav-list">
                    <a href="" routerLink="personalization">Personalization</a>
                    <a href="" routerLink="systemnav1">System Nav 1</a>
                    <a href="" routerLink="systemnav2">System Nav 2</a>
                </div>
                <div class="row justify-content-end">
                        <div class="form-group col-5">
                            <input type="text" class="form-control" id="Search" placeholder="Search">
                        </div>
                            <button>Search <i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>